/* =Font
-----------------------------------------------------------------------------*/
@font-face {font-family: 'PT Sans';
	src: url('/css/fonts/pts55f_w.eot');
	src: local('PT Sans'), url('/css/fonts/PTS55F_W.woff') format('woff'),url('/css/fonts/PTS55F_W.ttf') format('truetype'), url('/css/fonts/PTS55F_W.svg#PTSans-Regular') format('svg');}

@font-face {font-family: 'PT Sans';
	font-style: italic;
	src: url('/css/fonts/pts56f_w.eot');
	src: local('PT Sans Italic'), url('/css/fonts/PTS56F_W.woff') format('woff'),url('/css/fonts/PTS56F_W.ttf') format('truetype'), url('/css/fonts/PTS56F_W.svg#PTSans-Italic') format('svg');}

@font-face {font-family: 'PT Sans';
	src: url('/css/fonts/pts75f_w.eot');
	font-style: normal;
	font-weight: bold;
	src: local('PT Sans Bold'), url('/css/fonts/PTS75F_W.woff') format('woff'),url('/css/fonts/PTS75F_W.ttf') format('truetype'), url('/css/fonts/PTS75F_W.svg#PTSans-Bold') format('svg');}

@font-face {font-family: 'PT Sans';
	font-style: italic;
	font-weight: bold;
	src: url('/css/fonts/pts76f_w.eot');
	src: local('PT Sans Bold Italic'), url('/css/fonts/PTS76F_W.woff') format('woff'),url('/css/fonts/PTS76F_W.ttf') format('truetype'), url('/css/fonts/PTS76F_W.svg#PTSans-BoldItalic') format('svg');}

/* =Typography
-----------------------------------------------------------------------------*/
body {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 15px;
	min-width: 960px;
}

::selection {
	color: #fff;
	background-color: #e32020;
	text-shadow: none;
}

/* =Links
-----------------------------------------------------------------------------*/
a {
	color: #3a62a5;
}
a:hover {
	color: #e32020;
}

/* =Layout
-----------------------------------------------------------------------------*/
.wrapper {
	margin: auto;
	width: 940px;
	padding: 0 10px;
}

/* =Header
-----------------------------------------------------------------------------*/
#header {
	overflow: hidden;
	font-size: 12px;
	background-color: #222;
	color: #ccc;
	padding: 7px 15px 9px 15px;
	margin-bottom: 1.5em;
}
#header a {
	color: #ccc;
	text-decoration: none;
}
#header a:hover {
	color: #fff;
	text-decoration: underline;
}
#logo {
	float: left;
	position: relative;
	height: 24px;
	width: 105px;
	background: url(../img/logo.png) no-repeat;
}
#logo a {
	zoom: 1;
	display: block;
	height: 24px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {

	#logo {
		background: url(../img/logo2x.png) no-repeat;
		background-size: auto 24px;
	}

}
#auth-area {
	float: right;
	margin: 0;
	margin-top: 3px;
	margin-right: 60px;
	list-style: none;
	color: #aaa;
}
#auth-area li {
	float: left;
	line-height: 1;
	margin-right: 5px;
}
#auth-area li a, #auth-area li span {
	display: block;
	padding: 4px 8px;
}
#auth-area li #login-link {
	background-color: #666;
	color: #fff;
	border-radius: 3px;
}
#twitter-link {
	margin-top: 7px;
	float: right;
	line-height: 1;
	background: url(../img/twitter.png) no-repeat;
	padding-left: 17px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {

	#twitter-link {
		background: url(../img/twitter2x.png) no-repeat;
		background-size: auto 11px;
	}

}

/* =SubHeader
-----------------------------------------------------------------------------*/
#header-sub {
	overflow: hidden;
	padding-top: 1em;
	margin-bottom: 1em;
}
#header-sub h2 {
	font-size: 26px;
	float: left;
	margin: 0;
}
#header-sub h2 a {
	color: #000;
	text-decoration: none;
}
#header-sub h2 a:hover {
	text-decoration: underline;
}

body.redactorpage #header-sub h2 {
	padding-left: 31px;
	background: url(../img/ico_redactor.png) no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {

	body.redactorpage #header-sub h2 {
		background: url(../img/ico_redactor2x.png) no-repeat;
		background-size: auto 27px;
	}

}

body.kubepage #header-sub h2 {
	padding-left: 33px;
	background: url(../img/ico_kube.png) no-repeat;
	line-height: 31px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {

	body.kubepage #header-sub h2 {
		background: url(../img/ico_kube2x.png) no-repeat;
		background-size: auto 30px;
	}

}

#header-sub ul {
	float: right;
	margin: 0;
	margin-top: 9px;
	list-style: none;
}
#header-sub ul li {
	float: left;
	margin: 0 12px;
	font-size: 14px;
	color: #999;
}
#header-sub ul li a {
	color: #000;
	text-decoration: none;
}
#header-sub ul li a:hover {
	text-decoration: underline;
}
#header-sub ul li .red-box-link {
	display: inline-block;
	background-color: #e32020;
	color: #fff;
	padding: 0 5px;
	border-radius: 3px;
}
#header-sub ul li span.red-box-link {
	background-color: #aaa;
}

/* =Nav
-----------------------------------------------------------------------------*/
#nav {
	overflow: hidden;
	margin-bottom: 1em;
	border-radius: 3px;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
	box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}
#nav ul {
	list-style: none;
	margin: 0;
}
#nav ul li {
	float: left;
	width: 25%;
	text-align: center;
}
#nav ul li:first-child a {
	border-left: none;
}
#nav ul li.last a, #nav ul li.last span {
	border-right: none;
}
#nav ul li a, #nav ul li span {
	vertical-align: baseline;
	line-height: 3.2em;
	padding: 0 24px;
	text-decoration: none;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	display: block;
	border-right: 1px solid #ddd;
	border-left: 1px solid #f6f6f6;
}
#nav ul li a:hover {
	color: #000 !important;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
}
#nav ul li span {
	color: #888;
	padding: 0 23px;
	text-shadow: none;
	background: #f8f8f8;
}

/* =Promo
-----------------------------------------------------------------------------*/
#promo {
	margin: 1em 0;
	padding: 100px 0;
	text-align: center;
	display: block;
	text-decoration: none;
	color: #000;
	background: url(../img/bg-inside.jpg);
	/* border: 15px solid #ededed; */
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	border-radius: 3px;
}
#promo h1 {
	font-size: 72px;
	margin-bottom: 10px;
}
#promo h5 {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 20px;
}
#promo p {
	margin-bottom: 40px;
}

.btn-flat-red-border {
	line-height: 1;
	background-color: #e32020;
	border: 1px solid #a81606;
	border-radius: 3px;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	padding: 9px 24px 8px 24px;
}
.btn-flat-red-border:hover {
	color: #fff;
	text-decoration: underline;
}
#promo-redactor-panel {
	background: url(../img/redactor-panel.png) no-repeat center;
	height: 34px;
	margin-bottom: 40px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {

	#promo-redactor-panel {
		background: url(../img/redactor-panel2x.png) no-repeat center;
		background-size: auto 34px;
	}

}


/* =Preview
-----------------------------------------------------------------------------*/
#preview {
	text-align: center;
	padding-top: 2em;
	padding-bottom: .3em;
}
#preview h1 {
	font-size: 46px;
	margin-bottom: 6px;
}
#preview p {
	font-size: 14px;
	color: #555;
}

/* =Quotes
-----------------------------------------------------------------------------*/
#quotes blockquote {
	border: none;
	margin-bottom: 1.5em;
	padding: 2em;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
#quotes blockquote p {
	margin-bottom: 8px;
	font-style: normal;
	font-size: 1.1em;
	color: #333;
}


/* =BoxInside
-----------------------------------------------------------------------------*/
#box-inside {
	padding: 3em 0;
	margin-bottom: 3em;
	background: url(../img/bg-inside.jpg) #f2f2f2;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3) inset;
}
#box-inside-white {
	padding: 3em 0;
	margin-bottom: 3em;
	background: url(../img/separator.png) no-repeat center top;
}


/* =BoxInner
-----------------------------------------------------------------------------*/
.box-inner {
	background: url(../img/bg-gray-noise.jpg) #eee;
	padding: 2em 1.5em;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3) inset;
	display: block;
	text-decoration: none;
	color: #000;
}
.box-drop {
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
.box-inner:hover {
	color: #000;
}
.box-inner-blue {
	background: url(../img/bg-blue-noise.jpg) #eef1f4;
}
.box-inner-white {
	background: none;
	background-color: #fff;
}
.box-inner #ico-kube {
	margin-bottom: 4px;
	margin-top: 12px;
}
.box-inner #ico-kube span {
	position: relative;
	left: -15px;
	display: inline-block;
	line-height: 32px;
	padding-left: 34px;
	background: url(../img/ico_kube.png) no-repeat;
	background-position: 0 1px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {

	body.kubepage .box-inner #ico-kube span {
		background: url(../img/ico_kube2x.png) no-repeat;
		background-size: auto 30px;
	}

}

/* =Footer
-----------------------------------------------------------------------------*/
#footer {
	font-size: 12px;
	color: #777;
	text-align: center;
	margin-top: 1.5em;
	padding-bottom: 80px;
}
#footer a {
	color: #777;
	text-decoration: none;
}
#footer a:hover {
	color: #000;
	text-decoration: underline;
}
#footer ul {
	margin-left: 0;
	list-style: none;
}
#footer ul li {
	display: inline;
	padding: 0 10px;
	border-right: 1px solid #d5d5d5;
}
#footer ul li.last {
	border: none;
}
#footer ul li span {
	color: #bbb;
}

/* =StatBox
-----------------------------------------------------------------------------*/
.stat-box {
	background-color: #f6f6f6;
	padding: 1.5em;
	width: 70%;
	text-align: center;
	margin-bottom: 1.5em;
}
.stat-box header {
	font-size: 24px;
	font-weight: bold;
	color: #383838;
	margin-bottom: .1em;
}
.stat-box footer {
	font-size: 12px;
	color: #7f7f7f;
	line-height: 1;
}

/* =KubeIntro
-----------------------------------------------------------------------------*/
#kubeintro h1 {
	font-size: 48px;
}
#kubedesc {
	margin-bottom: 2em;
}

/* =Misc
-----------------------------------------------------------------------------*/
.setting-toggle {
	cursor: pointer;
	padding: 4px 7px;
}
.feature-sup {
	background: none;
	color: #000;
	top: -10px;
	margin-left: 4px;
	font-size: 12px;
	font-weight: normal;
}
.log-sup {
	font-size: .6em;
	font-weight: normal;
	top: -2px;
	border-radius: 3px;
	margin-left: 5px;
	padding: 1px 4px;
	background-color: #333;
	color: #fff;
}
.callout {
	background-color: #e8edf5;
	border: 1px solid #cfd5df;
	padding: 1.5em;
	border-radius: 3px;
	margin-bottom: 1.5em;
}
.callout-green {
	background-color: #e1e5e1;
	border-color: #cad2ca;
}
.callout-dashed {
	background: none;
	border: 1px dashed #ddd;
}
.btn-bigger {
	padding: 14px 24px;
	font-size: 18px;
}
.pause {
	margin-bottom: .5em;
}


/* =Lists
-----------------------------------------------------------------------------*/
.list-mdash {
	margin-left: 0;
}
.list-mdash li {
	list-style: none;
	line-height: 1.7em;
}
.list-mdash li:before {
	content:"\2014\a0";
}
.list-browser {
	margin-left: 0;
	list-style: none;
}
.list-browser li {
	padding-left: 24px;
	line-height: 26px;
	height: 24px;
	background-position: 0 2px !important;
}
.list-browser li.ico_browser_chrome {
	background: url(../img/ico_browsers.png) no-repeat;
	background-position: 0;
}
.list-browser li.ico_browser_firefox {
	background: url(../img/ico_browsers.png) no-repeat;
	background-position: 0 -24px !important;
}
.list-browser li.ico_browser_safari {
	background: url(../img/ico_browsers.png) no-repeat;
	background-position: 0 -48px !important;
}
.list-browser li.ico_browser_opera {
	background: url(../img/ico_browsers.png) no-repeat;
	background-position: 0 -72px !important;
}
.list-browser li.ico_browser_ie {
	background: url(../img/ico_browsers.png) no-repeat;
	background-position: 0 -96px !important;
}

.list-toc {
	margin-left: 0;
	list-style: none;
	font-size: 14px;
	background: url(../img/bg-gray-noise.jpg) #eee;
	padding: 1em 1.2em;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}
.list-toc li {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #f8f8f8;
	text-shadow: 0 1px 0 #fff;
}
.list-toc li:first-child {
	border-top: none;
}
.list-toc li:last-child {
	border-bottom: none;
}
.list-toc li a, .list-toc li span {
	padding: 6px 0;
	display: block;
}
.list-toc li a {
	text-decoration: none;
	color: #000;
}
.list-toc li a:hover {
	text-decoration: underline;
}
.list-toc li span {
	color: #999;
}

.simple-list {
	margin-left: 0;
	list-style: none;
}
.simple-list li {
	margin-bottom: 15px;
}
.simple-list li:before {
	content:"\2014\a0";
}

#faq-lists ul {
	margin-left: 0;
	list-style: none;
}
#faq-lists ul li {
	border-bottom: 1px solid #eee;
	padding-bottom: 6px;
	margin-bottom: 6px;
}
#faq-lists ul li a {
	text-decoration: none;
}
#faq-lists ul li a:hover {
	text-decoration: underline;
}


/* =ArrowBox
-----------------------------------------------------------------------------*/
.arrow-box {
	font-size: 14px;
	width: 200px;
	padding: 30px;
	padding-bottom: 15px;
	position: absolute;
	z-index: 2000;
	background: #fff;
	color: #000;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
	border: 1px solid #cfcfcf;
}
.arrow-box .gray {
	color: #777 !important;
}
.arrow-box:after, .arrow-box:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow-box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}
.arrow-box:before {
	border-color: rgba(207, 207, 207, 0);
	border-bottom-color: #cfcfcf;
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}



/* =Pricing
-----------------------------------------------------------------------------*/
#pricing {
	margin: 6em 0 2em 0;
}
#pricing .inner {
	box-shadow: 0 1px 15px rgba(0, 0, 0, .25);
	height: 630px;
	text-align: center;
	z-index: 1;
	position: relative;
}
#pricing-hilight .inner {
	position: relative;
	top: -1.2em;
	background-color: #f6f7e6;
	z-index: 2;
	box-shadow: 0 1px 25px rgba(0, 0, 0, .25);
	border-radius: 4px;
}
#pricing .inner-full {
	height: 650px;
}
#pricing .inner form {
	position: absolute;
	bottom: 1em;
	left: 0;
	width: 100%;
}
#pricing .inner h3 {
	font-size: 21px;
	margin-bottom: 1em;
}
.price {
	display: inline-block;
	padding: 18px 20px;
	border: 1px solid #ddd;
	font-size: 24px;
	border-radius: 4px;
}
#pricing-hilight .price {
	border-color: #d9dacb;
}
#best-choice {
	text-align: center;
	position: absolute;
	width: 100%;
	left: 0;
	top: -24px;
}
#best-choice span {
	display: inline-block;
	font-size: 13px;
	color: #fff;
	line-height: 1;
	height: 17px;
	background-color: #e32020;
	padding: 6px 7px 0 7px;
	border-bottom: 1px solid #a83825;
	box-shadow: 0 -1px 5px rgba(0, 0, 0, .25);
}
#pricing .inner ul {
	margin-left: 0;
	list-style: none;
	font-size: 14px;
}
#pricing-hilight .inner ul {
	padding-top: 1.2em;
}
#pricing .inner ul li {
	line-height: 1.4em;
	margin-bottom: 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid #ddd;
	border-bottom: 1px solid rgba(0, 0, 0, .07);
}
#pricing .inner ul li.divider {
	border-bottom-width: 2px;
	border-bottom-style: dashed;
}

/* =Blocks
-----------------------------------------------------------------------------*/
#block-who h3, #block-where h3 {
	text-align: center;
	font-size: 20px;
}
#block-who {
	margin-top: 2em;
	margin-bottom: 3em;
}
#block-who h3 {
	margin-bottom: 1em;
}


/* =Cards
-----------------------------------------------------------------------------*/
.card-box {
	overflow: hidden;
	margin-bottom: 1em;
	text-shadow: 0 1px 0 #fff;
}
.card-box section {
	float: left;
	width: 65%;
	position: relative;
	top: -5px;
}
.card-box p {
	font-size: 13px;
	margin-bottom: 14px;
}
.card-box blockquote {
	margin: 0;
	font-style: italic;
	color: #111;
	position: relative;
	border: none;
	padding-left: 27px;
}
.card-box blockquote span {
	font-size: 60px;
	color: #aaa;
	line-height: 1;
	position: absolute;
	top: 0;
	left: -2px;
}
.card-box figure {
	position: relative;
	float: left;
	width: 30%;
	margin-right: 5%;
	margin-bottom: 10px;
}
.card-box figure img {
	border-radius: 4px;
}
.card-box figcaption {
	text-shadow: none;
	top: -3px;
	right: -3px;
	line-height: 1;
	position: absolute;
	background-color: #d74a32;
	font-size: 13px;
	color: #fff;
	padding: 3px 5px;
	font-style: normal;
}




/* =ExamplesBox
-----------------------------------------------------------------------------*/
#examplesbox {
	margin-bottom: 2em;
}
#examplesbox li {
	margin-bottom: 15px;
	text-align: center;
}
#examplesbox li a {
	text-align: center;
	display: block;
	border: 1px solid #ddd;
	padding: 18px;
	line-height: 1.2em;
	border-radius: 4px;
	color: #000;
	text-decoration: none;
}
#examplesbox li a:hover {
	background-color: #f6f6f6;
	text-decoration: underline;
}



/* =Prettyprint
-----------------------------------------------------------------------------*/
.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #005cb9; }
.str, .atv { color: #849d00; }
.kwd, .linenums, .tag { color: #3f5bb9; }
.typ, .atn, .dec, .var { color: #008ec4; }
.pln { color: #444; }

.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}
ol.linenums {
  margin: 0 0 0 33px;
}
ol.linenums li {
  color: #bebec5;
  text-shadow: 0 1px 0 #fff;
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: #fcfcfc;
}



/* =Demo
-----------------------------------------------------------------------------*/
.swatch {
	display: inline-block;
	border-radius: 3px;
	width: 16px;
	height: 16px;
	line-height: 18px;
}
.box-demo {
	padding: 5px 0;
}
.griddemo .inner {
	background-color: #4d698c;
}
.griddemo .row {
	background-color: #f3f3f3;
}
.griddemo .row,
.griddemo .block-two > li,
.griddemo .block-three > li,
.griddemo .block-four > li,
.griddemo .block-five > li,
.griddemo .block-six > li {
	color: #fff;
	line-height: 60px;
	font-size: 13px;
	text-align: center;
}
.bg-lightblue {background-color:#b0c4de}
.bg-blue {background-color:#7e9ec7}
.cut {
	text-align: center;
	font-size: 24px;
	color: #aaa;
	margin: 3em 0;
}
